<h1>Once Upon a Time</h1>
{{#link-to 'secret' classNames='btn btn-success play'}}
  Play
{{/link-to}}
{{#if session.isAuthenticated}}
  <button {{ action 'invalidateSession' }} class="btn btn-danger">Logout</button>
{{else}}
    {{#link-to 'login' class="btn btn-login"}}Login{{/link-to}}
{{/if}}
<button class="btn btn-settings">Settings</button>
