<h1>Secret!</h1>
<form action="">
  {{input name="new_message"
          id="new_message"
          placeholder="Send Message"
          value=controller.new_message}}
  <input type="submit" {{action "publish"}} value="Send">
  <ul class="list">
    {{#each post in content}}
      <li>{{post.text}}</li>
    {{/each}}
  </ul>
</form>
